body {
   background-color: #fffbf7
}
h1 {
 color: #025157
}

h4 {
   color: #46484c
}

p {
   color: #8b8b8bcc
}

button
{
    background-color: #025157;
    color: white;
   
   
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px 20px;
    margin-left: -10px;
}
input[type=email]
{
   height: 105%;
   border-radius: 8px;  
      
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
        }

